:root {
  --cl-p-blue: hsl(223, 87%, 63%);
  --cl-s-pale-blue: hsl(223, 100%, 88%);
  --cl-s-light-red: hsl(354, 100%, 66%);
  --cl-n-gray: hsl(0, 0%, 59%);
  --cl-n-very-dark-bkue: hsl(209, 33%, 12%);
  --ff-: "Libre Franklin", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--ff-);
  /* font weight : 300, 600, 700 */
}

/* typo */

h1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6rem;
  color: var(--cl-n-gray);
}

span {
  font-weight: 700;
  color: var(--cl-n-very-dark-bkue);
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: var(--cl-n-very-dark-bkue);
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--cl-n-gray);
}

i {
  text-align: center;
  padding-top: 1rem;
  color: var(--cl-p-blue);
  font-size: 2rem;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 33rem;
  height: 4rem;
  width: 4rem;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.text-part {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.email-request {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  width: 100vw;
}

.email-adress {
  border: 1px solid var(--cl-s-pale-blue);
  border-radius: 20rem;
  height: 4rem;
  width: 50%;
  color: var(--cl-s-pale-blue);
  outline: none;
  max-width: 45rem;
}

::placeholder {
  color: var(--cl-s-pale-blue);
  font-family: var(--ff-);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
}

.email-adress[placeholder] {
  padding-left: 3rem;
}

.submit-btn {
  background-color: var(--cl-p-blue);
  border: none;
  color: white;
  height: 4rem;
  width: 20%;
  border-radius: 20rem;
  max-width: 20rem;
  box-shadow: 0px 15px 20px -15px rgba(8, 13, 61, 0.726);
}

i:active,
.submit-btn:active {
  transform: scale(0.95);
}

.submit-btn:hover {
  cursor: pointer;
}

.illustration-part {
  height: 40%;
  width: 60%;
  background: url(./images/illustration-dashboard.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 20%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

i:hover {
  color: white;
  background-color: var(--cl-p-blue);
  cursor: pointer;
}

/* script */

.error-mail {
  display: inline;
  width: 70%;
  max-width: 65rem;
  padding-left: 3rem;
  color: var(--cl-s-light-red);
  font-family: var(--ff-);
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  transform: translateY(-110%);
}

.error-mail-mobile {
  display: none;
}

.error-mail-border {
  border: 1px solid var(--cl-s-light-red);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  h2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  p {
    font-size: 1rem;
  }

  i {
    padding-top: 0.7rem;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
  }

  .email-request {
    flex-direction: column;
  }

  .email-adress {
    width: 70%;
  }

  .submit-btn {
    background-color: var(--cl-p-blue);
    border: none;
    color: white;
    height: 4rem;
    width: 70%;
    border-radius: 20rem;
    max-width: 45rem;
    margin-top: 4%;
  }

  ::placeholder {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .error-mail {
    display: none;
  }

  .error-mail-mobile {
    display: inline;
    width: 70%;
    padding-left: 3rem;
    order: 0;
    color: var(--cl-s-light-red);
    font-family: var(--ff-);
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    transform: translateY(-10%);
    max-width: 45rem;
  }

  .illustration-part {
    height: 30%;
    width: 80%;
    background: url(./images/illustration-dashboard.png);
    background-size: contain;
    background-repeat: no-repeat;

    background-position: top;
  }
}
.email-valid {
  color: var(--cl-p-blue);
}
